<!--
  Generated template for the ChatpgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-navbar>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <!---->

    <!--<ion-title>Send To</ion-title>-->
    <!--<ion-buttons end>-->
      <!--<button ion-button icon-only color="royal">-->
        <!--<ion-icon name="person-add"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content padding>

<!-- the begining of the new content -->


<!-- the end of the new content -->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p style="color:#fceeee; margin-left: 20px;">Welcome to Hendon. </p>
    <ion-buttons end>
      <button ion-button icon-end color="royal">
        Send
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>