page-home {
    .logoimg{
        height: 50px; width: 50px; margin-bottom: 10px;border-radius: 5px;  margin-top: -9px; margin-left: 25px;
    }
    .toolbar-md {
        padding: 4px;
        min-height: 86px;
    }

    
.chatcontent{
    position: relative;
}

.svgfile{
    position: absolute;
    height: 16px;
    float: right;
    top: 15px;
    right: 15px;
    padding-left: 60px;
    font-family: monterrat;
    fill: rgba(0, 0, 0, 0.4);
}
    .chaticon{
        
        height: 40px;
        float: right;
        margin-top: 200px;
    }

    .accordion {
        background-color: rgb(255, 253, 253);
        color: rgb(61, 58, 58);
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }
    
    .active, .accordion:hover {
        background-color: #ccc; 
    }
    
    .panel {
        padding: 0 18px;
        // display: none;
        background-color: white;
        overflow: hidden;
    }

    .hide{
        display: none !important;
    }

    .navbars{

     margin-left: -8px;
    }

    .item-md p {
        font-size: 1rem;
        margin: 4px 0 2px
    }
    .homeheader{
        background-color: red;
    }

    .card-md {
        margin: 0px; 
        border-radius: 2px;
        width: 100%;
    }

    .item-md h2 {
        margin: 2px 0;
        font-size: 1.6rem;
        font-weight: bold;
        color: #74102d;
        
    }

    .card-md p{
        text-align: left;
    }
    


    
[padding] h2:first-child
    {
    margin-top: -0.001rem;
    }
}      
