<ion-header >
  <ion-navbar>
    <button ion-button menuToggle>
      <!-- <ion-icon name="menu"></ion-icon> -->
      <img class="logoimg" style="" src="./assets/imgs/logo2.png">
     
    </button>
    <ion-title class="navbars">Hendon College</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="chatcontent">

  <!-- the begining of new code -->



  <ion-card>

    <ion-item>
      <!-- <ion-avatar item-start>
        <img src="marty-avatar.png">
      </ion-avatar> -->
      <h2>Hendon College</h2>
      <p>July 2, 2018</p>  
    
      <svg class="svgfile" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g>
            <g>
              <g>
                <polygon points="353.574,176.526 313.496,175.056 304.807,412.34 344.885,413.804 			"/>
                <rect x="235.948" y="175.791" width="40.104" height="237.285"/>
                <polygon points="207.186,412.334 198.497,175.049 158.419,176.52 167.109,413.804 			"/>
                <path d="M17.379,76.867v40.104h41.789L92.32,493.706C93.229,504.059,101.899,512,112.292,512h286.74
                  c10.394,0,19.07-7.947,19.972-18.301l33.153-376.728h42.464V76.867H17.379z M380.665,471.896H130.654L99.426,116.971h312.474
                  L380.665,471.896z"/>
              </g>
            </g>
          </g>
          <g>
            <g>
              <path d="M321.504,0H190.496c-18.428,0-33.42,14.992-33.42,33.42v63.499h40.104V40.104h117.64v56.815h40.104V33.42
                C354.924,14.992,339.932,0,321.504,0z"/>
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
</svg>


    </ion-item>
  
    <!--<img src="/assets/imgs/advance-card-bttf.png">-->
  
    <ion-card-content>
      <!-- <p>Welcome to Hendon College. A Place with a state of the art, IT-driven, STEAM focused, full boarding secondary school.</p> -->
    
      
    
    
    </ion-card-content>
  
    <ion-row>
      <!-- Code for comment and likes -->

      <ion-col center text-center>
        <ion-note>
          <!-- Read More -->


          
          
          <div class="panel" [class.hide]="!showPanel">
            <p #articleText>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          
            <div class="secondpanel">
              
            </div>
            <button class="accordion" (click)="togglePanel()">Show Less</button>
          </div>
          <button class="accordion" [class.hide]="showPanel" (click)="togglePanel()">Read More</button>
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
  <!-- end of new code -->
<!-- 
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p> -->

  <!-- button -->

<!-- The begining of the new chat icon -->
  
      
 

  <!-- the end of chat icon which is the first button -->
 

    <ion-fab right bottom>
        <button ion-fab color="dark" (click)="movetochat()"><ion-icon name="md-chatbubbles"></ion-icon></button>
        <!-- <ion-fab-list side="left">
                    <button ion-fab><ion-icon name="md-chatbubbles"></ion-icon></button>
        </ion-fab-list> -->
      </ion-fab>



</ion-content>




