// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// .body{
//   background-image: url("./assets/imgs/pattern.png");
// }
.scroll-content{
  background-color:#ffffff;
  background-image: url(../assets/imgs/pattern.png);
}
 
   //.button-md:hover:not(.disable-hover)
@media only screen and (max-width: 300px){
.preloader{
  padding: 20px;
  width: 100px;
  resize: both;
  overflow: auto;
  position: center;
  margin-top: 140px;
  margin-left: 50px;

  }
}

@media screen and (min-width: 301px) {
  .preloader {

    padding: 20px;
    width: 250px;
    resize: both;
    overflow: auto;
    position: center;
    margin-top: 130px;
    margin-left: 40px;

  }
}

.toolbar-background-md {
  border-color: #74102d;
  background: #74102d;
}


.toolbar-title-md {
  padding: 0 12px;
  font-size: 2rem;
  font-weight: 500;
  color: #fceeee;
  font-family: Montserrat;
  
}

/*for the send icon*/
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: #fceeee;
  background-color: transparent;
}

